__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.DS_Store
Thumbs.db
desktop.ini

venv/
env/
ENV/
.venv/
.env
.vscode/
.idea/
*.npy

data/chest_xray/
data/raw/

data/processed_data/


*.h5
*.weights

*.log
.ipynb_checkpoints/
*.ipynb